<cnt-flexy-view-islam-promo-communication-1_01 [payload]='forCommunication()'
                                               [pathToAssets]='pathToAssets'
                                               (ClickCommunicationPhoneIcon)='clicker($event)'
                                               (ClickCommunicationPhone)='clicker($event)'
                                               (ClickCommunicationLetterIcon)={'clicker($event)'
                                               (ClickCommunicationLetter)='clicker($event)'
                                               (ClickCommunicationMapMarker)='clicker($event)'
                                               (ClickCommunicationLocation)='clicker($event)'
                                               (ClickCommunicationLinkedinIcon)='clicker($event)'
                                               (ClickCommunicationTwitterIcon)='clicker($event)'
                                               (ClickCommunicationFacebookIcon)='clicker($event)'
                                               (ClickCommunicationInstagramIcon)='clicker($event)'>
</cnt-flexy-view-islam-promo-communication-1_01>
<cnt-flexy-view-islam-promo-header-1_01 [payload]='forHeader()'
                                        [pathToAssets]='pathToAssets'
                                        ClickHeaderHomeNav='clicker($event)'
                                        ClickHeaderAboutUsNav='clicker($event)'
                                        ClickHeaderOurTeamNav='clicker($event)'
                                        ClickHeaderPracticeAreasNav={'clicker($event)'
                                        ClickHeaderContactsNav='clicker($event)'}>
</cnt-flexy-view-islam-promo-header-1_01>
<cnt-flexy-view-islam-promo-affordable-1_01 [payload]='forAffordable()'
                                        [pathToAssets]='pathToAssets'
                                        ClickAffordableHeading='clicker($event)'
                                        ClickAffordableName='clicker($event)'
                                        ClickAffordableButton='clicker($event)'>
</cnt-flexy-view-islam-promo-affordable-1_01>
<cnt-flexy-view-islam-promo-about-me-1_01 [payload]='forAboutMe()'
                                        [pathToAssets]='pathToAssets'
                                        ClickAboutMeHeading='clicker($event)'
                                        ClickAboutMeImage='clicker($event)'
                                        ClickAboutMeText='clicker($event)'
                                        ClickAboutMeButton='clicker($event)'
                                        ClickAboutMeSignature='clicker($event)'>
</cnt-flexy-view-islam-promo-about-me-1_01>
<cnt-flexy-view-islam-promo-quality-1_01 [payload]='forQuality()'
                                         [pathToAssets]='pathToAssets'
                                         ClickQualityHeading='clicker($event)'
                                         ClickQualityIcon='clicker($event)'
                                         ClickQualityTitle='clicker($event)'
                                         ClickQualityText='clicker($event)'>
</cnt-flexy-view-islam-promo-quality-1_01>
<cnt-flexy-view-islam-promo-skills-1_01 [payload]='forSkills()'
                                        [pathToAssets]='pathToAssets'
                                        ClickSkillsHeading='clicker($event)'
                                        ClickSkillsHtmlImage='clicker($event)'
                                        ClickSkillsHtmlText='clicker($event)'
                                        ClickSkillsCssImage='clicker($event)'
                                        ClickSkillsCssText='clicker($event)'
                                        ClickSkillsJsImage='clicker($event)'
                                        ClickSkillsJsText='clicker($event)'
                                        ClickSkillsWpImage='clicker($event)'
                                        ClickSkillsWpText='clicker($event)'
                                        ClickSkillsAngularImage='clicker($event)'
                                        ClickSkillsAngularText='clicker($event)'
                                        ClickSkillsReactImage='clicker($event)'
                                        ClickSkillsReactText={'clicker($event)'
                                        ClickSkillsBootstrapImage='clicker($event)'
                                        ClickSkillsBootstrapText='clicker($event)'
                                        ClickSkillsStencilImage='clicker($event)'
                                        ClickSkillsStencilText='clicker($event)'>
</cnt-flexy-view-islam-promo-skills-1_01>
<cnt-flexy-view-islam-promo-works-1_01 [payload]='forWorks()'
                                       [pathToAssets]='pathToAssets'
                                       ClickWorksHeading='clicker($event)'
                                       ClickWorksShopImage='clicker($event)'
                                       ClickWorksWorkImage1='clicker($event)'
                                       ClickWorksWorkImage2='clicker($event)'
                                       ClickWorksButton='clicker($event)'>
</cnt-flexy-view-islam-promo-works-1_01>
<cnt-flexy-view-islam-promo-opportunities-1_01 [payload]='forOpportunities()'
                                               [pathToAssets]='pathToAssets'
                                               ClickOpportunitiesHeading='clicker($event)'
                                               ClickOpportunitiesComputerIcon='clicker($event)'
                                               ClickOpportunitiesComputerTitle='clicker($event)'
                                               ClickOpportunitiesComputerText='clicker($event)'
                                               ClickOpportunitiesCogIcon={'clicker($event)'
                                               ClickOpportunitiesCogTitle='clicker($event)'
                                               ClickOpportunitiesCogText='clicker($event)'
                                               ClickOpportunitiesPictureIcon='clicker($event)'
                                               ClickOpportunitiesPictureTitle='clicker($event)'
                                               ClickOpportunitiesPictureText={'clicker($event)'>
</cnt-flexy-view-islam-promo-opportunities-1_01>
<cnt-flexy-view-islam-promo-footer-1_01 [payload]='forFooter()'
                                        [pathToAssets]='pathToAssets'>
</cnt-flexy-view-islam-promo-footer-1_01>
